# ملفات البيئة الافتراضية
venv/
.env/

# ملفات البيانات الكبيرة
*.joblib
*.csv

# ملفات إعدادات IDE
.vscode/
.idea/

# ملفات نظام التشغيل
.DS_Store  # (لنظام Mac)
Thumbs.db  # (لنظام Windows)

# ملفات بايثون المترجمة
__pycache__/
*.py[cod]
